<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> WebHome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebHome</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                      
                    </ul>
                </div>
                <button type="button" class="loginBtn" onclick="loginBtnClick()">Log in</button>
                <div id="popupId" class="popup">
                    <span id="closeId" class="close" onclick="closePopup()" style="margin-right:50px;">&times;</span>

                    <div class="popup-content" style="position:fixed;">
                        <h2>Please enter your credentials</h2>
                        <br /> <br />
                        <label for="uname"><b>Username :</b></label>
                        <br />
                        <input type="text" placeholder="Enter Username" name="uname" id="usrname" required>
                        <br /> <br />
                        <label for="psw"><b>Password : </b></label>
                        <br />
                        <input type="password" placeholder="Enter Password" name="psw" id="pass" required>
                        <br /> <br />
                        <button type="button" onclick="LogIn()">Log in</button>

                    </div>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebHome
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var WebSiteUrl = "@Configs.WebSiteUrl";
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
