
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <br/>
    <table id="example" class="display" width="100%">
    </table>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Info of User</h2>
            </div>
            <div class="modal-body" id="mb">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <br/><br/>
    <script type="text/javascript">
            var WebSiteUrl = "@Configs.WebSiteUrl";
    </script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>