
@{
    ViewData["Title"] = "Login";
}

<h2>Please enter your credentials</h2>
<br />
<br />
<label for="uname"><b>Username :</b></label>
<br />
<input type="text" placeholder="Enter Username" name="uname" id="usrname" required>
<br />
<br />
<label for="psw"><b>Password : </b></label>
<br />
<input type="password" placeholder="Enter Password" name="psw" id="pass" required>
<br />
<br />
<button type="button" class="loginBtn" onclick="LogIn()">Log in</button>

