@{
    ViewData["Title"] = "Home Page";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Rent a Home Now...</h1>
        <br /><br />
        <label for="ap">Choose Apartment Type:</label>
        <input name="type" list="apartments" />
        <datalist id="apartments" style="width:100%"></datalist>
        <br /><br />
        <div id="clearfix">
            <label for="start">From:</label>
            <input type="date" id="startdate" name="start">
            <label for="end">To:</label>
            <input type="date" id="enddate" name="end">
        </div>
        <br /><br />
        <label for="people">Enter number of people:</label>
        <input type="number" id="quantity" name="people" min="1" max="10">
        <input type="submit">
        <br /><br />
        
    </div>

    <script type="text/javascript">
            var WebSiteUrl = "@Configs.WebSiteUrl";
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
