input[list] {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px 10px 10px 10px;
}

input[list]:focus {
    width: 40%;
}

.clearfix {
    display: inline-block;
}

.mySlides {
    display: none
}

